<template>
    <div>


        <modal v-show="showConfirmDelete" @close="showConfirmDelete = false">
            <template slot="header">confirm delete address</template>

            <template slot="content">

                <h2>{{ selected.name }}</h2>
                <p>{{ selected.street }}</p>
                <p>{{ selected.zip }} {{ selected.city }}</p>

            </template>

            <template slot="footer">
                <button :class="{'button is-danger': true }" @click.prevent="deleteAddress">
                    delete
                </button>
                <button class="button" @click="showConfirmDelete = false">Cancel</button>
            </template>

        </modal>

        <modal v-show="showAddressForm" @close="showAddressForm = false">

            <template slot="header">edit address</template>

            <template slot="content">

                <form action="/address"
                      method="PATHCH"
                      @keydown="addressForm.errors.clear($event.target.name)"
                      v-show="showAddressForm">

                    <input type="hidden" v-model="addressForm.user_id" name="user_id">


                    <div class="field">
                        <label for="name" class="label"
                               v-show="addressForm.name.length">Name</label>
                        <input type="text"
                               class="input"
                               id="name"
                               name="name"
                               v-model="addressForm.name"
                               placeholder="Name"
                        >
                        <span class="help is-danger"
                              v-text="addressForm.errors.get('name')"></span>
                    </div>


                    <div class="field">
                        <label for="street" class="label"
                               v-show="addressForm.street.length">Street</label>
                        <input type="text"
                               class="input"
                               id="street"
                               name="street"
                               v-model="addressForm.street"
                               placeholder="Street"
                               required
                        >
                        <span class="help is-danger"
                              v-text="addressForm.errors.get('street')"></span>
                    </div>

                    <div class="field">
                        <label for="zip" class="label" v-show="addressForm.zip">ZIP</label>
                        <input type="text"
                               class="input"
                               id="zip"
                               name="zip"
                               v-model="addressForm.zip"
                               placeholder="ZIP"
                               required
                        >
                        <span class="help is-danger" v-text="addressForm.errors.get('zip')"></span>
                    </div>

                    <div class="field">
                        <label for="city" class="label" v-show="addressForm.city">City</label>
                        <input type="text"
                               class="input"
                               id="city"
                               v-model="addressForm.city"
                               name="city"
                               placeholder="City"
                               required
                        >
                        <span class="help is-danger" v-text="addressForm.errors.get('city')"></span>
                    </div>

                </form>
            </template>

            <template slot="footer">
                <button :class="{'button is-success': true, 'is-loading': addressForm.submitting }"
                        :disabled="addressForm.errors.any()" @click="onSubmitAddress">Update</button>
                <button class="button" @click="showAddressForm = false">Cancel</button>
            </template>

        </modal>


        <div
                v-for="address in this.$store.getters.addresses"
                :class="{ 'card': true, 'primary': address.primary}"
        >

            <p class="card-header-title" v-if="address.primary">
                Delivery Address
            </p>

            <div class="card-content">
                <p>{{ address.name }}</p>
                <p>{{ address.street }}</p>
                <p>{{ address.zip + ' ' + address.city }}</p>
            </div>

            <footer class="card-footer">
                <a href="#" class="card-footer-item" v-show="!address.primary"
                   @click.prevent="setPrimaryAddress(address)">Use</a>
                <a href="#" class="card-footer-item" @click.prevent="editAddress(address)">Edit</a>
                <a href="#" class="card-footer-item" @click.prevent="confirmDelete(address)">Delete</a>
            </footer>

        </div>

    </div>
</template>

<script>

    import Form from  './../core/Form'

    export default {
        data() {
            return {
                selected: {
                    name: 'test',
                    street: 'test',
                    zip: '',
                    city: ''
                },
                cardClass: {
                    'primary': this.primary,
                    'card': true,
                    'is-danger': false
                },
                addressForm: new Form({
                    id: '',
                    user_id: '',
                    name: '',
                    street: '',
                    zip: '',
                    city: ''
                }),
                showConfirmDelete: false,
                showAddressForm: false
            }

        },
        created() {
            console.log(this.$store.getters.addresses, 'created')
        },
        methods: {
            setPrimaryAddress: function (address) {
                this.$store.commit('setPrimaryAddress', address)
            },
            editAddress: function (address) {
                this.addressForm.id = address.id
                this.addressForm.name = address.name
                this.addressForm.street = address.street
                this.addressForm.zip = address.zip
                this.addressForm.city = address.city

                console.log(address)
                console.log(this.addressForm)

                // open modal
                this.showAddressForm = true

            },
            onSubmitAddress: function () {
                this.addressForm.patch('/address/' + this.addressForm.id)
                    .then(response => {
                        // update store
                        console.log(response)
                        this.$store.commit('patchAddress', response)
                        this.showAddressForm = false
                    })
                    .catch(function(errors) {
                        flash(errors.message)
                    })
            },
            deleteAddress: function (event) {
                console.log(event.target)
                this.$store.commit('removeAddress', this.selected)
                this.showConfirmDelete = false
            },
            confirmDelete: function (address) {
                this.selected = address
                this.showConfirmDelete = true
            }
        }
    }

</script>