<template>
    <div>

        <checkout-steps step="shopping-cart"></checkout-steps>

        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th><abbr title="Identifier">ID</abbr></th>
                    <th>Name</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot v-show="total">
                <tr>
                    <th colspan="3" class="has-text-right"><strong>Total:</strong></th>
                    <th>{{ this.$state.total }}</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                <tr v-for="(item, index) in this.$store.state.cart">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>TODO</td>
                    <td>{{ item.price }}</td>
                    <td><a @click.prevent="remove(index)">remove</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</template>


<script>

    export default {

        methods: {
            remove: function(index) {
                this.$store.commit('removeFromCart', (index))
            }
        }
    }

</script>
