<template>
    <div>
        <ul class="steps">
            <li class="step-item"
                v-bind:class="{ 'is-active': shoppingCartActive, 'is-completed is-success': shoppingCartCompleted }">
                <div class="step-marker">
                  <span class="icon">
                    <i class="fa fa-shopping-cart"></i>
                  </span>
                </div>
<!--                <div class="step-content">
                    <p>CART</p>
                </div>-->
            </li>

            <li class="step-item"
                v-bind:class="{ 'is-active': userDetailsActive, 'is-completed is-success': userDetailsCompleted }">
                <div class="step-marker">
                      <span class="icon">
                        <i class="fa fa-user"></i>
                      </span>
                </div>
    <!--            <div class="step-content">
                    <p>DELIVERY</p>
                </div>
    -->     </li>

            <li class="step-item"
                v-bind:class="{ 'is-active': paymentActive, 'is-completed is-success': paymentCompleted }">
                <div class="step-marker">
                      <span class="icon">
                        <i class="fa fa-credit-card"></i>
                      </span>
                </div>
        <!--        <div class="step-content">
                    <p>PAYMENT</p>
                </div>-->
            </li>
            <li class="step-item"
                v-bind:class="{ 'is-completed is-success': paymentCompleted }">
                <div class="step-marker">
                      <span class="icon">
                        <i class="fa fa-check"></i>
                      </span>
                </div>
                <!--<div class="step-content">
                    <p>COMPLETED</p>
                </div>-->
            </li>
        </ul>


        <nav class="level is-mobile">
            <div class="level-item has-text-centered">
                <div v-show="hasPrev">
                    <a class="button" :href="prev" @click="checkoutStep">
                        <span class="icon">
                            <i class="fa fa-arrow-left"></i>
                        </span>
                        <span>{{ prevText }}</span>
                    </a>
                </div>
            </div>

            <div class="level-item has-text-centered">
                <div v-show="hasNext">
                    <a class="button is-primary" :href="next" @click="checkoutStep">
                        <span>{{ nextText }}</span>
                        <span class="icon">
                            <i class="fa fa-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </nav>

    </div>
</template>

<script>
    export default {
        props: [
            'step',
            'next',
            'nextText',
            'prev',
            'prevText',
            'type',
            'registrationForm',
            'addressForm'
        ],
        data: function () {
            return {}
        },
        created() {
            // console.log(step)
            // console.log('created')
            //  console.log()
        },
        methods: {
            storeCart: function () {
                // ------------------------------------
                // Store cart to session
                axios.post('/cart', {items: this.$store.getters.cart})
                    .then(response => {
                        console.log('success')
                        console.log(response, 'store cart')
                        window.location = '/checkout/payment'
                    })
                    .catch(errors => {
                        console.log(errors, 'errors')
                    })
            },
            checkoutStep: function (event) {
                let target = event.currentTarget.getAttribute('href')
                console.log(this.type)
                console.log(target, 'target')

                switch (target) {
                    case '/checkout/payment':
                        event.preventDefault()

                        // ------------------------------------
                        // Guest Checkout
                        // check if user is signed in
                        // if(this.type == 'guest') {
                        // event.preventDefault()

                        // submit
                        // app.registrationForm.post('/register')
                        // .then(response => {
                        // redirect to current page - user should be signed in
                        // window.location = '/checkout/user-details'
                        // })
                        // }
                        // ------------------------------------
                        // Primary address
                        // check if primary address is selected
                        // let address = this.$store.getters.primaryAddress
                        // console.log(address)

                        // TODO: user id and permission that you can change only your account
                        app.addressForm.patch('/address/1')
                            .then(response => {
                                // TODO make synced requests with wait https://ponyfoo.com/articles/understanding-javascript-async-await

                                console.log(this.$store.state.cart, 'cart')

                                // TODO: move to previous step!
                                axios.post('/cart', {items: this.$store.state.cart})
                                    .then(response => {
                                        // console.log(response.data, 'onSubmit then')
                                        // this.$store.commit('addPrimaryAddress', response.data)
                                        // this.$store.commit('setPrimaryAddress', response.data)
                                        //scrollToY(0, 1500, 'easeInOutQuint');
                                        //flash({message: response.data.message, lvl: 'info'})
                                        console.log(response, 'response');
                                        console.log(response.data, 'primaryAddress');
                                        // let address = this.$store.getters.primaryAddress
                                        this.$store.commit('setDeliveryAddress', response.data)
                                        console.log(this.$store.getters.deliveryAddress, 'primaryAddress')


                                        window.location = '/checkout/payment'
                                    })
                                    .catch(errors => {
                                        console.log(errors, 'errors')
                                    });
                            })
                            .catch(errors => {
                                console.log(errors, 'errors')
                            });

                        // app.addressForm.patch();
                        // if(!address) {

                        // check if add address inputs are valid
                        //app.addressForm.post('/address')
                        //    .then(response => {
                        //        this.storeCart()
                        //    })
                        // } else {
                        //this.storeCart()
                        // }

                        break;
                }
            }
        },
        computed: {
            // refactor - js todo
            hasNext: function () {
                return (this.next != '' && this.next != undefined)
                    && (this.nextText != '' && this.nextText != undefined);
            },
            // refactor
            hasPrev: function () {
                return (this.prev != '' && this.prev != undefined)
                    && (this.prevText != '' && this.prevText != undefined)
            },
            shoppingCartActive: function () {
                return this.step == 'shopping-cart'
            },
            shoppingCartCompleted: function () {
                let completed = ['user-details', 'payment', 'checkout-completed'];
                return completed.indexOf(this.step) > -1;
            },
            userDetailsActive: function () {
                return this.step == 'user-details';
            },
            userDetailsCompleted: function () {
                let completed = ['payment', 'checkout-completed'];
                return completed.indexOf(this.step) > -1;
            },
            paymentActive: function () {
                return this.step == 'payment';
            },
            paymentCompleted: function () {
                let completed = ['checkout-completed'];
                return completed.indexOf(this.step) > -1;
            }
        }
    }
</script>