<template>
        <div class="columns">
            <div class="column">

                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input"
                               type="text"
                               placeholder="Filter"
                               v-model="itemsFilter"
                               @keyUp="filterItems">


                        <span class="icon is-small is-left">
                                <i class="fa fa-search"></i>
                        </span>
                    </p>

                </div>

            </div>

            <div class="column is-2">
                <a href="" class="button">
                    <i class="fa fa-search"></i>
                </a>
            </div>

        </div>
</template>

<script>

    export default {

        data() {
            return {
                filter: '',
                itemsFilter: ''
            }
        },

        methods: {
            filterItems: function(event) {

                console.log('filter-items');

                if(event.code == 'Enter') {

                    this.$store.commit('clearItems');
                    console.log('/items/json?name=' + this.itemsFilter);
                    axios.get('/items/json?name=' + this.itemsFilter)
                        .then(response => {
                            response.data.forEach(item => {
                                this.$store.commit('addItem', item)
                            });
                        });

                }

                // todo ...
                // this.$emit('filterItems', { event: event })

            },
        }

    }

</script>

<style>

<style>
