<template>
    <div class="notification" :class="{'is-success': status == 'info', 'is-danger': status == 'error', 'is-warning': status == 'warning'}" v-show="visible">
        <button class="delete" @click="visible = false"></button>
        {{ message }}
    </div>
</template>

<style>
    .notification {
        margin-bottom: 0 !important;
    }
</style>

<script>

    export default {
        props: ['status'],

        data() {
            return {
                message: this.message,
                visible: false
            }
        },

        created() {
            // console.log(this.message)
            // this.flash({message: this.message, lvl: this.lvl})

            console.log('test')

            window.events.$on('flash', message => {
                this.flash(message)
            });

        },

        methods: {
            flash(message) {

                this.visible = true
                this.message = message.message
                this.lvl = message.lvl
                this.hide()

            },

            hide() {
                setTimeout(() => {

                    this.visible = false
                    this.message = ''
                    this.lvl = ''

                }, 10000);
            }
        }
    }

</script>
