<template>

    <article class="">
        <div class="columns notification">
            <div class="column is-2">
                <figure class="image is-3by4" v-show="imageLink">
                    <a :href="itemLink"><img :src="imageLink"></a>
                </figure>
            </div>
            <div class="is-9">
                <p>
                    <a :href="itemLink">{{ item.name }}</a>
                </p>
                <p class="subtitle"><a href="/delivery"></a></p>

                <p>
                    <strong>{{ item.price }} €</strong>
                </p>
                <p>
                    <a href="/cart/add" class="button is-primary" @click.prevent="addToCart(item)">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </article>



</template>

<script>

    export default {
        props: ['item'],

        computed: {
            itemLink: function() {
                return '/item/' + this.item.id
            },
            imageLink: function () {
                if(this.item.image)
                    return 'https://s3-eu-west-1.amazonaws.com/s3fuzin/' + this.item.image;

                return false
            }
        },

        methods: {

            /*
             addToCart: function (item) {
             console.log(this.$parent.data)
             this.$parent.$emit('addToCart', item)
             }
             */

            addToCart: function (item) {
                // this.$emit('addToCart', item)
                // this.$store.commit('addToCart', JSON.parse(JSON.stringify(item)))
                addToCart(item)
            }

        },
    }

</script>

