<template>

    <table class="table is-striped is-fullwidth">
        <thead>
            <tr>
                <th><abbr title="Identifier">ID</abbr></th>
                <th>Name</th>
                <th>Producer</th>
                <th>Partner</th>
                <th>Last Modified</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th><abbr title="Identifier">ID</abbr></th>
                <th>Name</th>
                <th>Producer</th>
                <th>Partner</th>
                <th>Last Modified</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            <tr v-for="item in this.$store.state.items" :key="item.id">
                <td>{{ item.id }}</td>
                <td><a :href="itemLink(item)">{{ item.name }}</a></td>
                <td></td>
                <td style="white-space: nowrap;">referencno podjetje</td>
                <td>{{ item.price }}</td>
                <td style="white-space: nowrap;">
                    <a href="#" @click.prevent="addToCart(item)" class="button is-primary">buy</a>
                    <!-- <a href="#">edit</a> -->
                </td>
            </tr>
        </tbody>
    </table>

</template>


<script>
    import axios from 'axios';

    export default {
        created() {

            if(this.$store.state.items == 0) {

                axios.get('/items/json')
                    .then(response => {
                        response.data.forEach(item => {
                           this.$store.commit('addItem', item)
                        });
                    });

            }
        },

        methods: {

            addToCart: function (item) {
                this.$store.commit('addToCart', JSON.parse(JSON.stringify(item)))
            },

            itemLink: function (item) {
                return '/item/' + item.id
            }

        },

    }

</script>


<style>

</style>
