<template>
    <div>
        <itemb2c v-for="item in this.$store.getters.items"
                 :key="item.id"
                 :item="item"
        >
        </itemb2c>
    </div>
</template>

<script>

    export default {
        data() {
            return {

            }
        },
        methods: {

        }
    }

</script>