// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";

// Bulma
@import "~bulma/bulma.sass";
// Bulma Steps
@import "~bulma-steps/steps.sass";
// Font Awesome
@import "~font-awesome/scss/font-awesome.scss";

// @import "~bulma-timeline/";
// Flickity
// @import "~flickity/dist/flickity.css";
// animate.css
// @import '~animate.scss/vendor/assets/stylesheets/animate.scss';
@import "orders";

form span.help:empty {
  display: none;
}

.carousel-cell {
  width: 20%;
  height: 307px;
  margin-right: 10px;
}

.primary {
  background-color: $white-ter;
  // border-width: 2px;
  // font-weight: bold;
}

.flash {
  position: absolute;
  bottom: 5px;
}

.navbar {


  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;

  // border-bottom: 1px solid #DDD;

}


body {
  background: $body-bg;
}

html {
  background: $footer-bg;
}

#app {
  margin-top: 52px;
}

#content {
  min-height: 500px;
}

.footer {
  background: $footer-bg;
  /*
  background: -webkit-linear-gradient($footer-bg, $body-bg);
  background: -o-linear-gradient($footer-bg, $body-bg);
  background: -moz-linear-gradient($footer-bg, $body-bg);
  background: linear-gradient($footer-bg, $body-bg);
  */

  color: #AFAFFF;

  strong {
    color: #AFAFFF;
  }

  a {
    color: #CCCCCC;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
