// Fonts
/* @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600"); */
// Variables
@import "variables-eco";

// Bulma
@import "~bulma/bulma.sass";
// Bulma Steps
@import "~bulma-steps/steps.sass";
// Font Awesome
@import "~font-awesome/scss/font-awesome.scss";
// Flickity
// @import "~flickity/dist/flickity.css";
// animate.css
@import '~animate.css/animate.css';
// @import "orders";

form span.help:empty {
  display: none;
}

footer#footer {
  background-color: whitesmoke;
  padding: 3rem 1.5rem 6rem;
}

.bottom-line {
  padding: 1em;
  background-color: white !important;
  font-size: smaller;
  color: #dfd8d9;
}

.bottom-line a, footer a {
  color: #7f887c;
}

html {
  background-color: whitesmoke;
}

body {
  background-color: white;
}

h2.background {
  position: relative;
  z-index: 1;

  &:before {
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
  }

  span {
    padding: 0 15px;
    background: #F5F5F5;
  }
}

h2.double:before {
  /* this is just to undo the :before styling from above */
  border-top: none;
}

h2.double:after {
  border-bottom: 1px solid blue;
  -webkit-box-shadow: 0 1px 0 0 red;
  -moz-box-shadow: 0 1px 0 0 red;
  box-shadow: 0 1px 0 0 red;
  content: "";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute;
  top: 45%; left: 0; right: 0;
  width: 95%;
  z-index: -1;
}


#app {
}

a.card {
  display: block;
  border-radius: 5px;
  width: 100%;
  min-height: 600px;
}

/*
.card:hover {
  box-shadow: 0 5px 10px 0 hsla(0, 0%, 0%, 0.4);
  cursor: pointer;
}
*/


.before-enter {
  opacity: 0;
}

/* v-vpshow classes */
/*


.enter {
  transition: opacity 2s ease;
}
*/
/* ---------------- */


.features .column {
  // display: flex;

  .card-image > .fa {
    font-size: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #CCDB3B;
    opacity: 0.7;
  }

  .card-footer {
    justify-content: center;
    padding: 1rem;
    border: none;
  }

  @media only screen and (min-width: $desktop){
    .card-content {
      min-height: 12em;
    }
  }
}

nav.navbar {
  border-top: 3px solid $primary;
}

nav a {
  color: black;
}

.unsplash-background {
  background: url('https://source.unsplash.com/1200x800/?eco,slovenia') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.teaserTriangle {
  background: linear-gradient(to bottom right, $primary 0%, $primary, 50%, #999 50%, #999 100%);
}


.bg1 {
  background: url('/img/markus-spiske-444652-unsplash-1920x1280.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.panel.content {
  display: flex;
  justify-content: center;
}




.column .content {
  background-color: whitesmoke;
  padding: 1em;
}

.column .content form {
  background: white;
  padding: 1em;
}

.agile {

  padding: 0px 56px;

  .button, button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0
  }

  .slide {
    min-height: 322px;
  }

  .button, a, button, input, textarea {
    transition-duration: .3s
  }

  .button:active, .button:focus, a:active, a:focus, button:active, button:focus, input:active, input:focus, textarea:active, textarea:focus {
    outline: none
  }

  .button {
    white-space: nowrap
  }

  .agile:active, .agile :active, .agile:focus, .agile :focus {
    outline: none
  }

}

.slide--1 {
  display: flex; align-items: center; justify-content: center;
}

.panel-heading, .panel-tabs, .panel-block {
  border: none;
}

nav.panel-block:hover {
  border-right: 3px solid $primary;
  background-color: white;
}

nav.panel {
  background-color: white;
}

nav.panel.sidebar {
  background-color: rgba(230, 230, 230, 0.47);
}

nav {
  .panel-block {
    border-left: 3px solid white;
  }

  .panel-block.is-active {
    border-left: 3px solid $link;
  }

  .panel-block:hover {
    border-left: 3px solid $primary !important;
  }
}





.agile__list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.agile__track {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.agile__slide {
  display: block
}

.agile--fade .agile__slide {
  opacity: 0;
  position: relative;
  z-index: 0
}

.agile--fade .agile__slide--active {
  opacity: 1;
  z-index: 2
}

.agile--fade .agile__slide--expiring {
  opacity: 1;
  transition-duration: 0s;
  z-index: 1
}


.has-slide-arrows:hover {
  .agile__arrow {
    // display: block;
    // transition-duration: .3s;
  }
}

.agile__arrow {


  svg {
    path {
      // fill: white;
    }
  }

  border: none;
  bottom: 148px;
  margin: 0;
  padding: 0;
  position: absolute;
  transition-duration: .3s;
  display: block;
  width: 50px;
  height: 50px;
  outline: none;
}




.agile__arrow[disabled] {
  cursor: default;
  opacity: .4
}

.agile__arrow:hover #arrow-svg {
  fill: #333
}

.agile__arrow--prev {
  left: 0
}

.agile__arrow--prev #arrow-svg {
  transform: scaleX(-1)
}

.agile__arrow--next {
  right: 0
}

.agile__arrow #arrow-svg {
  fill: #888;
  height: 20px;
  transition-duration: .3s
}

.agile__dots {
  align-items: center;
  justify-content: center;
  padding-top: 15px !important;
}

.agile__dot {
  margin: 5px 5px
}

.agile__dot button {
  text-align:center;
  background-color: #eee;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  transition-duration: .3s;
  width: 10px
}

.agile__dot--current button, .agile__dot:hover button {
  background-color: #888
}

// navbar
  .navbar-burger {
    marin-left: unset !important;
  }


.checkout-btn {
  margin-left: auto;
}